#bum {
    width: 50%;
    position: fixed;
    top: 0%;
    left: auto;
}
#bac {
    width: 50%;
    position: fixed;
    top: 0%;
    right: 0px;
}
#destovec{
    position: fixed;
    top: 50%;
    width: 50%;
    left: 0px;
}
#voltovec{
    position: fixed;
    width: 50%;
    top: 50%;
    right: 0px;
}

